<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CreateTeacher</title>
</head>
<body>
<section>
    <form th:method="POST" th:action="@{/teachers/create}">

        <label for='name'>Name:</label><input id='name' type='text' name='name'/><br/>
        <label for='surname'>Surname:</label><input id='surname' type='text' name='surname'/><br/>
        <label for="Id">Teacher ID:</label><input id="Id" type="text" name="Id">

        <input  type='submit' value='Submit'/>
    </form>
</section>
</body>
</html>