<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
</head>
<body>
<section>
    <h1>Edit course</h1>
    <form th:method="POST" th:action="@{/course/create}">
        <label for='courseName'>Course Name:</label><input th:value="(${course}!=null?${course.getName()}:' ')"
                                                           id='courseName' type='text' name='courseName'/><br/>
        <label for='courseDesc'>Course Description:</label><input
            th:value="(${course}!=null?${course.getDescription()}:' ')" id='courseDesc' type='text'
            name='courseDesc'/><br/>
        <!--        <label for='TeacherName'>TeacherName:</label><input id="TeacherName" type='text' name='TeacherName'/><br/>-->
        <!--        <label for='TeacherSurname'>TeacherSurname:</label><input id="TeacherSurname" type='text' name='TeacherSurname'/><br/>-->
        <label for='TeacherID'>TeacherID:</label>
        <select id="TeacherID" name='TeacherID'>
            <th:block th:each="prof:${teachers}">
                <option th:selected="${course!= null && course.getTeacher()!=null && prof.getId()==course.getTeacher().getId()}"
                        th:value="${prof.getId()}" th:name="${prof.getName()}" th:text="${prof.getId()}"></option>
            </th:block>
        </select></br>
        <div th:if="${hasError}">
            <div th:text="${message}"></div>
        </div>
        <input type='submit' value='CreateOrEdit'/>
    </form>
</section>

</body>
</html>